* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    margin: 0 7rem;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 3rem 0;
    color: #00786f;
}

ul {
    padding: 0;
    margin-bottom: 2.5rem;
}

li {
    width: 600px;
    margin: 1.5rem auto;
    padding: 2rem 3rem;
    text-align: center;
    list-style-type: none;
    border-radius: 1rem;
    border: 2px solid #f6f4f4;
}

a {
    color: #00786f;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin: 0.75rem 0 0.5rem 0;
}

p {
    margin: 0;
    color: #666666;
}

span {
    color: #e3b261;
}

.recipe {
    height: 125px;
    width: 125px;
    border-radius: 1rem;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

#logo {
    height: 80px;
    display: block;
    margin: 1rem auto 0 auto;
    object-fit: cover;
    object-view-box: inset(20% 20% 20% 20%);
}